<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>dat</string>
		<string>fis</string>
		<string>fin</string>
	</array>
	<key>name</key>
	<string>FLAC</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>comment</key>
			<string>Highlight FLAC words.</string>
			<key>match</key>
			<string>(elif|else|except|finally|for|if|try|while|with|break|continue|pass|raise|return|yield)</string>
			<key>name</key>
			<string>keyword.source.flac</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Highlight numbers.</string>
			<key>match</key>
			<string>[0-9]</string>
			<key>name</key>
			<string>constant.source.flac</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>constant.numeric.ssraw</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Variables like $PARAM1, $TM_SELECTION...</string>
			<key>match</key>
			<string>\$([A-Za-z][A-Za-z0-9_]+)</string>
			<key>name</key>
			<string>keyword.ssraw</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.flac</string>
	<key>uuid</key>
	<string>658ff636-668e-4ad1-8b45-5a256e0aac28</string>
</dict>
</plist>
